In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("dataset/weather_SC_2010-01-01_2023-08-20.csv")

In [7]:
df

,Unnamed: 0,uf,geocodigo,nome_municipio,dt_notific,se_notif,ano_notif,temp_med,precip_med,pressao_med,umid_med
0,0,Santa Catarina,4205407,Florianópolis,2015-04-22,16,2015,19.400047,0.501144,1.005091,85.525040
1,1,Santa Catarina,4205407,Florianópolis,2015-04-22,16,2015,19.400047,0.501144,1.005091,85.525040
2,2,Santa Catarina,4211306,Navegantes,2015-06-26,25,2015,17.900696,0.046859,1.018776,82.758840
3,3,Santa Catarina,4202057,Balneário Barra do Sul,2015-02-26,8,2015,26.471252,0.003333,0.999127,82.746750
4,4,Santa Catarina,4211306,Navegantes,2015-03-12,10,2015,24.806660,0.058958,0.996328,81.799730
...,...,...,...,...,...,...,...,...,...,...,...
518202,518202,Santa Catarina,4209102,Joinville,2023-03-13,11,2023,23.434486,0.567704,1.003880,90.546980
518203,518203,Santa Catarina,4209102,Joinville,2023-04-06,14,2023,20.779232,0.470094,1.004146,89.557846
518204,518204,Santa Catarina,4209102,Joinville,2023-04-06,14,2023,20.779232,0.470094,1.004146,89.557846
518205,518205,Santa Catarina,4209102,Joinville,2023-04-07,14,2023,19.380840,0.954901,1.003806,91.581024
518206,518206,Santa Catarina,4209102,Joinville,2023-04-06,14,2023,20.779232,0.470094,1.004146,89.557846